@charset "UTF-8";
/**
 personalition theme chld-planty **/
 .elementor-kit-5 menu-item-83{

  color: #ffffff !important;
  background-color: #dc9f96 !important;
}
.contactid, .contactliv{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact label{
  line-height: 2;
}
.commande{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
.presentation{
  flex-direction: column;
  justify-content: center;
}
.produit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.produit p{
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.gout{
  height: 60px;
  max-width: 40px;
}
.bouton{
  display: flex;
  align-items: center;
}
